extends layout

block content
    // Wrapper1
    #wrapper1
        h1 Calendar 365
        div(align='right',style='padding-right: 10px;')
          a(href='/search') Search
          | &nbsp; | &nbsp;
          a(href='/signout') Sign Out
          br
        // Wrapper
        #wrapper
            // User INFO
            #user
                h21 User Info
                p
                    strong Email:
                    |  #{user.email}
                    br
                    strong First Name:
                    |  #{user.firstName}
                    br
                    strong Last Name:
                    |  #{user.lastName}
                    br
                    strong Username:
                    |  #{user.username}
            // /User INFO

            // ADD EVENT
            div
              h2 Add Event
              form(action='/adduserevent', method='POST')  
                  input(type='date', name='date', placeholder='Date',required, autofocus)
                  input(type='time', name='starttime', placeholder='Start Time', required)
                  input(type='time', name='endtime' , placeholder='End Time', required)
                  input(type='text', name='description', class='text-left new-account', placeholder='Description', required, size='64')
                  input(type='text', name='place', class='text-left new-account',placeholder='Location',required, autofocus, size='40')
                  button(type='submit', class='text-center new-account') Add Event
                  span.clearfix
            // /ADD EVENT
            // Event LIST
            h2 Event List
            #events
                div
                    table(border='1')
                        thead
                            tr
                                th #
                                th Event Date
                                th Start Time
                                th End Time
                                th Location
                                th Description
                                th Edit
                                th Delete
                        tbody
                            each user, i in events
                                tr
                                    td= i+1
                                    td= user.date
                                    td= user.starttime
                                    td= user.endtime
                                    td= user.place
                                    td= user.description
                                    td
                                        form(action='/editevent/'+user._id, method='GET')
                                            button(type='submit')
                                                img(src='http://localhost:3000/images/edit2.png', style='width:30px;height:30px;')
                                    td
                                        form(action='/deleteevent/'+user._id, method='POST')
                                            input(type='hidden', name='_method' value='DELETE')
                                            button(type='submit')
                                                img(src='http://localhost:3000/images/delete2.png', style='width:30px;height:30px;')

            // /Event LIST
            #footer
                p    
                    br 
        // /WRAPPER
    // Wrapper1
