extends layout

block content
    h1 Search
    div(align='right',style='padding-right: 10px;')
      a(href='/home') Home
      | &nbsp; | &nbsp;
      a(href='/search') Search
      | &nbsp; | &nbsp;
      a(href='/signout') Sign Out
      br
    // Wrapper
    #wrapper
        // User INFO
        
        #user
            h21 User Info
            p
                strong Email:
                |  #{user.email}
                br
                strong First Name:
                |  #{user.firstName}
                br
                strong Last Name:
                |  #{user.lastName}
                br
                strong Username:
                |  #{user.username}
        // /User INFO
        // SEARCH EVENT
        h2 Search Event
        form(action='/search', method='GET')
            input(type='date', name='fromdate', placeholder='From Date')
            input(type='date', name='todate', placeholder='To Date')
            input(type='time', name='starttime', placeholder='From Time')
            input(type='time', name='endtime' , placeholder='To Time')
            input(type='text', name='place', class='text-left new-account', placeholder='Location', size='40')
            button(type='submit', class='text-center new-account') Search
            span.clearfix
        // /SEARCH EVENT
        // Event LIST
        h2 Event List
        #events
            div
                table(border='1')
                    thead
                        tr
                            th #
                            th Event Date
                            th Start Time
                            th End Time
                            th Location
                            th Description
                            th Edit
                            th Delete
                    tbody
                        each user, i in events
                            tr
                                td= i+1
                                td= user.date
                                td= user.starttime
                                td= user.endtime
                                td= user.place
                                td= user.description
                                td
                                    form(action='/editevent/'+user._id, method='GET')
                                        button(type='submit')
                                            img(src='http://130.233.42.122:3000/images/edit2.png', style='width:30px;height:30px;')
                                td
                                    form(action='/deleteevent/'+user._id, method='POST')
                                        input(type='hidden', name='_method' value='DELETE')
                                        button(type='submit')
                                            img(src='http://130.233.42.122:3000/images/delete2.png', style='width:30px;height:30px;')

        // /Event LIST
        #footer
            p    
                br 

    // /WRAPPER
